.user-container {
  margin-top: 20px;
  border: 2px solid rgb(214, 214, 214);
  border-radius: 10px;
  padding: 30px;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  font-weight: bold;
}

.user-info {
  margin: 20px 0 30px 0;
  padding: 30px;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

td {
  width: 20%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.links a {
  padding: 10px;
  margin-right: 50px;
}

.user-link {
  text-decoration: underline;
  color: blue;
}
